// _coming-soon.scss

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
}

.content {
	text-align: center;
}

h1 {
	font-size: 8vw;
}

h2 {
	font-size: 2.5vw;
}