/*

                __      __          __
         ____ _/ /___  / /_  ____ _/ /  ____________________
        / __ `/ / __ \/ __ \/ __ `/ /  / ___/ ___/ ___/ ___/
       / /_/ / / /_/ / /_/ / /_/ / /_ (__  ) /__(__  |__  )
 ______\__, /_/\____/_.___/\__,_/_/(_)____/\___/____/____/
/_____/____/

*/

// global styles
body {
	height: 100vh;
	background: $black;
	width: 100vw;
	display: flex;
	flex-direction: column;

	@media only screen and (max-width: $bp1) {
    	height: auto;
    	min-height: 100vh;
	}

}

body, html {
	font-size: 62.5%;
	overflow: hidden;

	@media only screen and (max-width: $bp1) {
	    overflow-y: scroll; 
	}
}

img {
	max-width: 100%;
}

a, .link-trigger {
	display: inline-block;
	text-decoration: none;
	transition: all 0.3s;
	line-height: 0.725;
	color: $gold;
	// text-shadow: 
	// 	0.1rem 0.1rem $black,
	// 	0.1rem 0.2rem $black,
	// 	0.2rem 0.1rem $black,
	// 	0.2rem 0.2rem $black;
    @include textShadow(2, $black);
	//
	@include anton();	
	text-transform: uppercase;
	font-size: 85%;

	&:hover {
		color: $gold;
		$shadowColor: $grey;
		cursor: pointer;
		text-shadow: 
			0.1rem 0.1rem $shadowColor,
			0.1rem 0.2rem $shadowColor,
			0.2rem 0.1rem $shadowColor,
			0.2rem 0.2rem $shadowColor,
			0.3rem 0.1rem $shadowColor,
			0.3rem 0.2rem $shadowColor,
			0.3rem 0.3rem $shadowColor,
			0.2rem 0.3rem $shadowColor,
			0.1rem 0.3rem $shadowColor,
			0.4rem 0.1rem $shadowColor,
			0.4rem 0.2rem $shadowColor,
			0.4rem 0.3rem $shadowColor,
			0.4rem 0.4rem $shadowColor,
			0.3rem 0.4rem $shadowColor,
			0.2rem 0.4rem $shadowColor,
			0.1rem 0.4rem $shadowColor;
		//
		transform: translateX(-0.4rem) translateY(-0.4rem);
	}
}

.page-title {
	color: $gold;
	text-align: center;
	text-transform: uppercase;	
	z-index: 10;
	width: 100%;
	margin: 0 0 1rem 0;
	display: block;
	background: $red;
	text-indent: -0.3vw;
	//
	display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

	.letter {		
		margin: 0 0.5vw 0 0;    	
    	text-shadow: 0.3rem 0.3rem $black;
    	transition: text-shadow 0.3s;

    	&.page-title__animate {    		
    		text-shadow: 0.7vw 0.7vw 0 $black;
    	}
	}
}

// page title letter animation
$letters: 17;
@for $i from 0 to $letters {
	span.letter:nth-child(#{$i}) {
		transition-delay: $i * 0.075s;
	}
}	


.content-wrapper {
	width: 100vw;
	display: flex;
	align-content: center;
	justify-content: center;
	background: $black;
	position: relative;
	//
	flex-shrink: 20;
	margin-top: 1vw;
    max-height: 60vh;

	@media only screen and (max-width: $bp1) {
	    flex-direction: column;
	}

    &.active {

        .main-content {
            min-width: 80vw;
            width: 80vw;            
        }
    }
}

.bg {
	// background: url(art-school.jpg);
	// background-size: cover;
    // height: 0;
	margin: 0 3vw;
    // padding: 0 0 31vw;    
    position: relative;
    width: 100%;

    // @include longShadow(500, $grey);    

    &:after {
    	content: '';
    	position: absolute;
    	bottom: 0;
    	right: 0;
    	width: 100%;
    	height: 100%;
    	background: red;
    	z-index: -1;
    }

	@media only screen and (max-width: $bp1) {
        width: calc(100% - 12vw);
    	max-width: 40rem;
    	margin: 0 auto -10vw;
    	padding: 2vw 6vw;	    
	}	

    img {
        border-radius: 50%;
        overflow: hidden;        
    }
}
