/*

                          _                              __             __
         ____ ___  ____ _(_)___        _________  ____  / /____  ____  / /_  ____________________
        / __ `__ \/ __ `/ / __ \______/ ___/ __ \/ __ \/ __/ _ \/ __ \/ __/ / ___/ ___/ ___/ ___/
       / / / / / / /_/ / / / / /_____/ /__/ /_/ / / / / /_/  __/ / / / /__ (__  ) /__(__  |__  )
 _____/_/ /_/ /_/\__,_/_/_/ /_/      \___/\____/_/ /_/\__/\___/_/ /_/\__(_)____/\___/____/____/
/_____/

*/


.main-content {
	display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60vw;
    width: 60vw;
    margin-right: 3vw;
    background: $black;
    z-index: 1;
    position: relative;
    transition: all 0.3s;
    //
    @include surana();

    // pseudo long shadow
    &:before {
        content: '';
        position: absolute;
        top: 0rem;
        left: calc(100% - 0.5rem);
        width: 0;
        height: 0;
        border-left: 0 solid transparent;
        border-right: 250rem solid transparent;
        border-bottom: 410rem solid $grey;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: calc(-100vw + 1rem);
        left: 0;
        width: 0;
        height: 0;
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 100vw solid $grey;
    }

    @media only screen and (max-width: $bp1) {
        width: 100vw;
        margin: 0 0 3rem;

        &:before,
        &:after {
            display: none;
        }
    }
}

.main-content--wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100% - 6vw);
	width: calc(100% - 6vw);
    position: relative;
    background: $tan;
    border-radius: 1rem;
    overflow: hidden;
    //
    height: 100%;
    width: 100%;

    @media only screen and (max-width: $bp1) {
        min-height: 25rem;
        width: 100%;
        margin: 0 6vw;
    }

    // @include longShadow(100, $grey);
}

.main-content--copy-wrapper {
	color: $black;
	padding: 4vw 6vw;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;

    @media only screen and (max-width: $bp1) {
        padding: 2rem 2.5rem;
    }
}

.main-content--copy {
    font-size: calc(2rem + 1.5vw);
    font-size: calc(1.5rem + 1.25vw);
    // display: none;
    visibility: hidden;
    width: 0;
    overflow: hidden;

    &.show {
        // display: block;
        visibility: visible;
        width: 100%;
        overflow: auto;
    }
}

.wave {
    display: inline-block;
    animation: wave 1s linear infinite;
    margin: 0 1rem 0 0;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.peace {
    display: inline-block;
    animation: peace 1s linear infinite;
    margin: 0 1rem 0 0;
}

@keyframes peace {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
