/*

                          _                              __             __
         ____ ___  ____ _(_)___        _________  ____  / /____  ____  / /_  ____________________
        / __ `__ \/ __ `/ / __ \______/ ___/ __ \/ __ \/ __/ _ \/ __ \/ __/ / ___/ ___/ ___/ ___/
       / / / / / / /_/ / / / / /_____/ /__/ /_/ / / / / /_/  __/ / / / /__ (__  ) /__(__  |__  )
 _____/_/ /_/ /_/\__,_/_/_/ /_/      \___/\____/_/ /_/\__/\___/_/ /_/\__(_)____/\___/____/____/
/_____/

*/


.main-content {
	display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60vw;
    width: 60vw;
    background: $black;
    //
    z-index: 1;
    margin-right: 3vw;    

    @media only screen and (max-width: $bp1) {
        width: 100vw;   
        margin: 0 0 3rem;
    }
}

.main-content--wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100% - 6vw);
	width: calc(100% - 6vw);
    position: relative;
    background: $tan;
    border-radius: 1rem;
    overflow: hidden;
    //
    height: 100%;
    width: 100%;

    @media only screen and (max-width: $bp1) {
        min-height: 25rem;
        width: 100%;
        margin: 0 6vw;
    }

    // @include longShadow(100, $grey);
}

.main-content--copy-wrapper {
	color: $black;
	padding: 4vw 6vw;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;

    @media only screen and (max-width: $bp1) {
        padding: 2rem 2.5rem;
    }
}

.main-content--copy {
    font-size: calc(2rem + 1.5vw);
    display: none;

    &.show {
        display: block;
    }
}
