/*
                         _       __    __
       _   ______ ______(_)___ _/ /_  / /__  _____  ____________________
      | | / / __ `/ ___/ / __ `/ __ \/ / _ \/ ___/ / ___/ ___/ ___/ ___/
      | |/ / /_/ / /  / / /_/ / /_/ / /  __(__  ) (__  ) /__(__  |__  )
 _____|___/\__,_/_/  /_/\__,_/_.___/_/\___/____(_)____/\___/____/____/
/_____/

*/


$white: #fff;
$black: #12100f;
$gold: #ffc524;
$grey: #262321;
$red: red;
$tan: #FFF2D1;

// variables
$bp1: 768px;
$bp2: 440px;

@mixin longShadow($shadowLength, $color) {
    $ls: ();
    @for $i from 1 through $shadowLength {
        $ls: $ls, $i*2px $i*2px $color;
    }    
    box-shadow: $ls, 0 0 #{$shadowLength}px, 0 0 #{$shadowLength}px;   
}
